NODE_ENV= 'local'
NODE_PORT= 3031
BASE_URL= "https://casilla-admin-api.onpe.mvpdemoapp.com"
BASE_URL_FRONT= 'https://casilla-admin.onpe.mvpdemoapp.com'
BASE_URL_FRONT_CITIZEN= 'https://casilla.onpe.mvpdemoapp.com'
PATH_UPLOAD= '/var/www/casilla_files'
PATH_UPLOAD_TMP= '/var/www/casilla_files_tmp'
AUTH_JWT_HMACKEY= 'yMbKU98DEPmmfxBtbpKK2ULS7MhhRc'
CLIENT_ID= 'QbJw1M1BUuUU771Wlb6uxQrp0NE'
CLIENT_SECRET= 'Sf3WdcXJi_Zt6Ocf9aTx'
PROTOCOL= 'S'
MONGODB_WEB_HOST= '15.223.122.169'
MONGODB_WEB_USERNAME= 'admin'
MONGODB_WEB_PASSWORD= 'admin'
MONGODB_WEB_DATABASE= 'casilla'
REDIS_WRITER= '127.0.0.1'
REDIS_READER= '127.0.0.1'
REDIS_PASSWORD= ''
ELASTIC_URL= 'https=//demo.com'
ELASTIC_USERNAME= 'username'
ELASTIC_PASSWORD= 'password'
ELASTIC_INDEX_MATCHER= 'casilla'
AWS_REGION_SES= 'us-east-2'
AWS_REGION_SES_MAIL= 'SISEN <casillaelectronica@onpe.gob.pe>'
AWS_ACCESS_KEY_ID_SES= 'AKIAUHWOMIT4EZUJYI5T'
AWS_SECRET_ACCESS_KEY_SES= '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'
RECAPTCHA_SECRET= '6LeFgcMZAAAAAJW0e3Qoh0VcAeYQ4UCqD58VkvKf'